body {
  font-family: "Segoe UI", sans-serif;
}
.login-section {
  min-height: 100vh;
}
.login-box {
  max-width: 400px;
  margin: auto;
}
.logo {
  margin-top: 16px;
}
.form-control:focus {
  box-shadow: none;
  border-color: #264d3d;
}
.btn-login {
  background-color: #264d3d;
  color: white;
}
.btn-login:hover {
  background-color: #264d3d;
}

h5{
  color: #264d3d;
}
